<% provide(:title, 'Ladder') %>
<h1>Ladder</h1>
<tbody>   
	<% @players.each do | player | %>
	<div class="row">
		<div class="span1"><%= player.ladder_pos.ordinalize %></div>
		<div class="span3"><%= link_to player.name, player %></div>
		<div class="span1 ladder_icon"><%= image_tag "#{player.ladder_stat}.png" unless player.ladder_stat == ""  %></div>
		</div>
	<% end %>
