<h1>Games</h1>
<% @admin = true %>
<%= render 'layouts/game_type_tabs' %>
<div class="tab-content">
  <div class="tab-pane active" id="tab1"><%= render 'layouts/game' %></div>
  <% @game_number = 2 %>
  <% GameType.all.each do | game_type | %>
    <% @games = game_type.games.order("created_at desc") %>
    <div class="tab-pane" id="tab<%= @game_number %>"><%= render 'layouts/game' %></div>
    <% @game_number += 1 %>
  <% end %>
</div>
   
