<h1>Games</h1>
<% @admin = false %>
<%= render 'layouts/game_type_tabs' %>
<div class="tab-content">
  <div class="tab-pane active" id="tab"><%= render 'layouts/game' %></div>
  <% GameType.all.each do | game_type | %>
    <% @game_number = game_type.id %>
    <% @games = game_type.games.order("created_at desc") %>
    <div class="tab-pane" id="tab<%= @game_number %>"><%= render 'layouts/game' %></div>
  <% end %>
</div>
   
