<h1>All games</h1>

<% @games.each do |game| %>
<% if game.created_at.strftime("%m/%d/%Y") != @date %>
  <% @date = game.created_at.strftime("%m/%d/%Y") %>
  <%= @date %>
<% end %>

<table class="table">
  <% game.players.each do |player|%>
    <tr>
     <td><%= link_to player.name, player %></td>
     <% result = player.results.first(:conditions => { :game_id => game.id }) %>
     <td><%= result.score %></td>     
   </tr>
   <% end %>
   </table>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>