<h1>Games</h1>

<%= render 'layouts/game_type_tabs' %>
<div class="tab-content">
  <div class="tab-pane active" id="All"><%= render 'layouts/game' %></div>
  <% GameType.all.each do | game_type | %>
    <% @games = game_type.games.order("created_at desc") %>
    <div class="tab-pane" id="<%= game_type.name %>"><%= render 'layouts/game' %></div>
  <% end %>
</div>
   
