@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 979px; /* or 950px */
  margin-top: -20px;
}

.main-content {
  position: relative;
  background-color: #FFFFFF;
  padding: 20px;
}

html {
  overflow-y: scroll;
}

body {
  /* background: url(cream_dust.png) repeat 0 0; */
  background-color: #E9E9E9;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

tr {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Verdana','Tahoma','sans-serif';

}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: $grayLight;
}



p, div {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Verdana','Tahoma','sans-serif';
    font-size: 14px;
    line-height: 25px;
    color: #444444;
}

a {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Verdana','Tahoma','sans-serif';
    font-size: 14px;
    line-height: 25px;
    color: #098AC6;
    text-decoration: none;
    font-weight: bold;
    &:hover {
    color: #31A4D9;
    text-decoration: none;
    background-color: transparent;
  }
    &:visited {
    color: #098AC6;
  }
}

textarea {
  width: 300px;
}

.notes {
  padding-bottom: 40px;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

header {
  height: 70px;
}

.navbar-inverse .navbar-inner {
  background-color: #31A4D9; /* place your solid color here */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border: none;
  height: 80px;
}

.navbar-inner .container {
  margin-top:0px;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    height: 60px;
    line-height: 60px;
    a {
      margin-top: 30px; 
    }
        &:hover {
      background-color: #098AC6; 
    }
}

#homeItem {
    background-color: #098AC6;
    border-right: medium none;
    height: 86px;
    margin-left: 15px;
    padding: 0;
    width: 70px;
}

.navbar-inverse .brand {
    color: white;
    height: 60px;
    line-height: 60px;
    a {
      margin-top: 30px; 
    }
    &:hover {
      background-color: #098AC6; 
    }
}



.homeNavContainer .navButtons .navItem {
    background-position: center 14px;
    background-repeat: no-repeat;
    border-right: 1px solid #4EB3E2;
    color: #D0F0FF;
    cursor: pointer;
    float: left;
    padding: 50px 2px 11px;
    position: relative;
    width: 75px;
}

#homeItem img.navIcon {
    padding: 19px 0 18px;
    margin: auto;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

// Ladder icons
 .ladder_icon {
  max-width:100%;
  height: 20px;
  width: 20px;  
}
