<ul class="nav nav-tabs" id="myTab">
  <% all_game_types %>
  <% @game_number = 1 %>
  <% @all_game_types.each do | game_type | %>
    <% if game_type == "All" %><li class="active"><% else %><li><% end %>
    <a href="#tab<%= @game_number %>" data-toggle="tab"><%= game_type %></a></li>
    <% @game_number += 1 %>
  <% end %>
</ul>