<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      
      <%= link_to "Leaderboard of Awesome", '/players', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Leaderboard", '/players' %></li>
          <li><%= link_to "Games",    '/games' %></li>
          <li><%= link_to "New Game", '/games/new' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>