<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">Leaderboard of Awesome</a>
      <nav class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li><%= link_to "Leaderboard", players_path %></li>
          <li><%= link_to "Ladder", ladder_path %></li>          
          <li><%= link_to "Games",    games_path %></li>
          <li><%= link_to "New Game", new_game_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>