  <div class="row">
    <div class="span3"><h4>Name</h4></div>
  </div>

  <% @players.each do |player| %>
    <div class="row">
      <div class="span3"><%= link_to player.name, player %></td></div>
      <div class="span1"><%= link_to 'Edit', edit_player_path(player) %></div>
      <div class="span1"><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>
  <br />

  <%= link_to 'New Player', new_player_path %>
